@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-down {
  opacity: 0;
  transform: translateY(-30px);

  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-duration: 0.5s;
  animation-name: fadeInDown;
}

.fade-in-up {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 0.5s forwards;
}
